In [1]:
# Variables are fundamental elements in programming used to store data that can be
# referenced and manipulated in a program. In Python, variables are created when
# you assign a value to them, and they do not need explicit declaration to reserve
#  memory space. The declaration happens automatically when you assign a value to
#  a variable.

In [2]:
a = 100

In [4]:
# Declaring and assigning Variables

age = 25
height = 5.2
name = "Richa"
is_student = True

# printing the variables

print("age:",age)
print("Height:",height)
print("name:",name)
print("is_student:",is_student)

age: 25
Height: 5.2
name: Richa
is_student: True

In [9]:
## Naming Conventions
## Variable names should be descriptive
## They must start with a letter or an '_' and contains letter,numbers
#  and underscores
## variables names case sensitive

#valid variable names

first_name = "Richa"
last_name = "Arora"
_first_name = "Richa"

In [6]:
# Invalid Variable Names
2age = 30

SyntaxError: invalid decimal literal (<ipython-input-6-150edb685a3a>, line 2)

In [7]:
first-name = "Richa"

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (<ipython-input-7-047bf9579384>, line 1)

In [8]:
@name = "Richa"

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (<ipython-input-8-05efc8001336>, line 1)

In [10]:
# case sensitive
name = "Richa"
Name = "richa"
print(name ==  Name)

False

In [11]:
surname = "Arora"
Surname = "Arora"
surname == Surname

True

In [12]:
## Understnading Variable types
## Python is dynamically typed,type of a variable is determined at runtime
age = 25
height = 5.2
name = "Richa"
is_student = True

print(type(age))
print(type(height))
print(type(name))
print(type(is_student))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [13]:
# type checking and conversion
age = 25
print(type(age))

# type conversion
age_str = str(age)
print(age_str)
print(type(age_str))

<class 'int'>
25
<class 'str'>

In [15]:
age = "25"
print(type(age))
int(age)
print(type(age))
age = int(age)
print(type(age))

<class 'str'>
<class 'str'>
<class 'int'>

In [16]:
age = "25"
print(type(int(age)))

<class 'int'>

In [17]:
name = "richa"
type(name)
int(name)

ValueError: invalid literal for int() with base 10: 'richa'

In [18]:
height = 5.2
type(height)

float

In [19]:
float(int(height))

5.0

In [20]:
## Dynamic Typing
## Python allows the type of a variable to change as the program executes
var = 10
print(var,type(var))

var = "Hello"
print(var,type(var))

var = 3.14
print(var,type(var))

10 <class 'int'>
Hello <class 'str'>
3.14 <class 'float'>

In [23]:
## INPUT
age = input("what is age: ")
print(age,type(age))

what is age: 25
25 <class 'str'>

In [25]:
age = int(input("what is age: "))
print(age,type(age))

what is age: 25
25 <class 'int'>

In [26]:
### Simple Calculator
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

sum = num1 +num2
diff = num1 - num2
mult = num1 * num2
div = num1 / num2

print("sum: ",sum)
print("diff: ",diff)
print("mult: ",mult)
print("div: ",div)

Enter first number: 10
Enter second number: 2
sum:  12.0
diff:  8.0
mult:  20.0
div:  5.0

In [27]:
# Variables are essential in Python programming for storing and manipulating data.
# Understanding how to declare, assign, and use variables effectively is crucial
# for writing functional and efficient code. Following proper naming conventions
# and understanding variable types will help in maintaining readability and
# consistency in your code.