## DataTypes
#### 1. Definition:

- Data types are a classification of data which tell the compiler or interpreter how the programmer intends to use the data.
- They determine the type of operations that can be performed on the data, the values that the data can take, and the amount of memory needed to store the data.

#### 2. Importance of Data Types in Programming
Explanation:

- Data types ensure that data is stored in an efficient way.
- They help in performing correct operations on data.
- Proper use of data types can prevent errors and bugs in the program.

Basic Data Types:
Integers,
Floating-point numbers,
Strings,
Booleans

Advanced Data Types:
Lists,
Tuples,
Sets,
Dictionaries

In [1]:
## Integer Example
age = 25
type(age)

int

In [2]:
## Floating point data type
height = 5.25
print(height)
type(height)

5.25

float

In [4]:
## String data type examples
name = "richa"
print(name,"it's type",type(name))

richa it's type <class 'str'>

In [5]:
## Boolean Data Type
is_type = True
type(is_type)

bool

In [6]:
bool()  # bool variable has by default false value

False

In [7]:
a = 10
b = 10
type(a == b)

bool

In [8]:
## Common Errors
result = "HEllo" + 5

TypeError: can only concatenate str (not "int") to str

In [11]:
result = "hrllo " +str(5)
print(result)

hrllo 5

In [10]:
result = "Hello" + str( 5)
print(result)

Hello5