Arithmetic Operators:
Addition,
Subtraction,
Multiplication,
Division,
Floor Division,
Modulus,
Exponentiation

Comparison Operators:
Equal to,
Not equal to,
Greater than,
Less than,
Greater than or equal to,
Less than or equal to

Logical Operators:
AND,
OR,
NOT

In [3]:
## Arithmetic Operation
a = 21
b = 5

add = a+b
sub = a-b
mult = a*b
div = a/b
floor = a//b    # gives floor part of division result
modulus = a%b   # gives the remainder
exponential = a**b

print(add)
print(sub)
print(mult)
print(div)
print(floor)
print(modulus)
print(exponential)

26
16
105
4.2
4
1
4084101

In [4]:
## Comparision operators
## equal to ==
a = 10
b = 10
a == b

True

In [5]:
str1 ="Richa"
str2 ="Richa"
str1 == str2

True

In [6]:
## Not Equal to !=
str1 != str2

False

In [7]:
str3 = "Richa"
str4 = "richa"
str3 != str4

True

In [8]:
# greater than >
num1 = 45
num2 = 55
num1 > num2

False

In [9]:
## less than <
num1 < num2

True

In [10]:
print(num1 < num2)

True

In [11]:
## Greater than or equal to >=
## less than or equal to <=
num1 = 45
num2 = 45
print(num1 >= num2)
print(num1 <= num2)

True
True

In [13]:
### Logical operators
## AND (*)
## it returns true only and only when both are true(1*1 = 1)
X = True
Y = False
X and Y

False

In [14]:
Z = True
X and Z

True

In [15]:
Y and Z

False

In [16]:
A = False
Y and A

False

In [17]:
## OR (+)
## Result is False only and only if both are False (0 + 0 = 0)
Y OR A

SyntaxError: invalid syntax (<ipython-input-17-04e2f2f484f8>, line 3)

In [18]:
Y or A

False

In [19]:
X or Z

True

In [20]:
X or Y

True

In [21]:
## Not Operator
X = False
not X

True

In [22]:
## Simple Calculator

a = float(input("Enter num1: "))
b = float(input("Enter num2: "))

add = a+b
sub = a-b
mult = a*b
div = a/b
floor = a//b    # gives floor part of division result
modulus = a%b   # gives the remainder
exponential = a**b

print("add: " ,add)
print("sub: ", sub)
print("mult: ", mult)
print("div: ",div)
print("floor: ",floor)
print("modulus: " ,modulus)
print("exponential: " ,exponential)

Enter num1: 5
Enter num2: 2
add:  7.0
sub:  3.0
mult:  10.0
div:  2.5
floor:  2.0
modulus:  1.0
exponential:  25.0